body {
    padding: 10px;
}

.createForm__container
{
    display: flex;
    flex-direction: column;
}

.listings__container
{
    display: flex;
    flex-direction: column;
}

.listing
{
    display: flex;
}
