{% extends "auctions/layout.html" %}

{% load static %}


{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        <div style="display: flex; flex-direction: column; width: 50vw; align-items: start; margin-left: 5vw;" class="createForm__container">
            {% csrf_token %}
            <label for="title">Title:</label>
            {{ form.title }}
            <label for="description">Description:</label>
            {{ form.description }}
            <label for="starting_bid">Starting Bid:</label>
            {{ form.starting_bid }}
            <label for="category">category:</label>
            {{ form.category }}
            <label for="imageUrl">Image URL:</label>
            {{ form.imageUrl }}
            <input type="submit" value="Create Listing">
        </div>
    </form>
{% endblock %}