{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="active__listingsContainer">
        {% for listing in listings %}
            <div class="active__listing">
                <div class="active__listingLeft">
                    <img class="active__listingImage" src="{{ listing.imageUrl }}" alt="">
                </div>
                <div class="active__listingRight">
                    <h3>{{ listing.title }}</h3>
                    <p>{{ listing.description }}</p>
                    <small>Current Price: ${{ listing.current_price }}</small>
                </div>
            </div>
            <a href="{% url 'listing' listing.id %}">View Listing</a>
        {% endfor %} 
    </div>


{% endblock %}