{% extends "auctions/layout.html" %}

{% block title %} 
    Listing
{% endblock %}

{% block body %}
    <div class="listing">
        {% for message in messages %}
        <div class="message">
            <h4>{{ message }}</h4>
        </div>
        {% endfor %}
        <div class="listing__container">
            <div class="listing__containerLeft">
                <img src="{{ listing.imageUrl }}" alt="">
                <p>Listed by {{ listing.user.username }}</p>
            </div>
            <div class="listing__containerRight">
                <div class="listing__containerRightDetails">
                    <h2>{{ listing.title }}</h2>
                    <h4>{{ listing.description }}</h4>
                </div>
                <div class="listing__containerRightBidding">
                    <p>Current Price: ${{ price }}</p>
                    {% if not listing.is_closed %}
                    {% if close_auction %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" name="close" value="Close Auction">
                        </form>
                    {% elif user.is_authenticated %}
                    <div class="listing__bid">
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <input required min="{{ min_bid }}" name="bid_amount" type="number" placeholder="Bid Amount">
                            <input type="submit" value="Make a Bid">
                        </form>
                    </div>
                    {% else %}
                    <p>Sign in to make a bid</p>
                    {% endif %}
                    {% elif won_auction %}
                    <div class="winning__message">
                        <h4>You have won this listing</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="listing__comments">
        </div>
    </div>
{% endblock %}